.container { 100% }

img foto1.jpeg {
	width: 10%;
	height: 10%;
}

img foto2.jpeg {
	width: 10%;
	height: 10%;
}

img foto3.jpeg {
	width: 10%;
	height: 10%;
}
img foto4.jpeg {
	width: 10%;
	height: 10%;
}

img foto5.jpeg {
	width: 10%;
	height: 10%;
}

img foto6.jpeg {
	width: 10%;
	height: 10%;
}